@import '../../../../assets/styles/variables.module.scss';

.Modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 80%;

	z-index: 300;
	overflow: hidden;
	background: white;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
	border-radius: 10px;

	@media (min-width: 768px) {
		width: 40%;
	}

	&__header {
		display: flex;
		justify-content: space-around;
		align-items: center;
		width: 100%;
		padding: 1rem 0.5rem;
		background: $header-bgc-color;
		color: white;

		& h2 {
			text-align: center;
			margin: 0.5rem;
		}
	}

	&__icon {
		font-size: 2rem;

		&Success {
			color: $success-color;
		}

		&Error {
			color: $error-color;
		}
	}

	&__content {
		padding: 1rem;
		font-size: 1.2rem;
		text-align: center;
	}

	&__horizontalLine {
		border-bottom: 1px solid rgb(58, 57, 57);
		display: block;
		height: 2px;
		width: 90%;
		margin: 0 auto;
	}

	&__footer {
		padding: 0 0.5rem;
	}

	&_enter {
		transform: translateY(-10rem);
		opacity: 0;

		&Active {
			transform: translateY(0);
			opacity: 1;
			transition: all 200ms;
		}
	}

	&_exit {
		transform: translateY(0);
		opacity: 1;

		&Active {
			transform: translateY(-10rem);
			opacity: 0;
			transition: all 200ms;
		}
	}
}
