@import '../../../../assets/styles/variables.module.scss';

.Card {
	position: relative;

	background-color: #fff;
	box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.26);
	border-radius: 6px;
	padding: 1rem;
	overflow: hidden;
}
