.LanguageSelect {
	display: flex;
	align-items: center;
	width: 30%;
	
	@media screen and (min-width: 600px) {
		width: 25%;
	}

	@media screen and (min-width: 900px) {
		width: 20%;
	}

	// -- Desktop
	@media screen and (min-width: 1024px){
		width: 8%;
	}

	@media screen and (min-width: 1200px){
		width: 10%;
	}

	&Image {
		width: 100%;
		object-fit: cover;

		&:hover {
			cursor: pointer;
		}
	}
}
