.LanguageSelect {
	display: flex;
	align-items: center;
	width: 30%;
	

	// -- desktop
	@media screen and  (min-width: 959px){
		width: 12%;
		height: 100%;
	}

	&Image {
		width: 100%;
		object-fit: cover;

		&:hover {
			cursor: pointer;
		}
	}
}
