.LanguageSelect {
	// flex-grow: 0.5;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	overflow: hidden;

	&__Button {
		width: 30%;
		background-color: transparent;
		border: none;
		outline: none;

		&:hover {
			cursor: pointer;
		}
	}

	&__Image {
		width: 100%;
	}
}
