.Button {
	display: block;

	margin: 10px auto;
	padding: 1rem 4.5rem;

	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font: inherit;
	font-size: 1rem;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	border: 1px solid #ff0055;
	border-radius: 4px;
	color: white;
	background: #ff0055;
	cursor: pointer;
	letter-spacing: 1px;

	&:focus {
		outline: none;
	}

	&:disabled,
	:hover:disabled,
	:active:disabled {
		background: #ccc;
		color: #979797;
		border-color: #ccc;
		cursor: not-allowed;
	}

	&_inverse {
		background: transparent;
		color: #ff0055;

		&:hover,
		&:active {
			color: white;
			background: #ff0055;
		}
	}

	&_danger {
		background: #830000;
		border-color: #830000;

		&:hover,
		&:active {
			background: #f34343;
			border-color: #f34343;
		}
	}

	&_information {
		border-color: #ff4b2b;
		background-color: #ff4b2b;
	}

	&_ghost {
		background-color: transparent;
		border-color: white;

		&:hover {
			background-color: #bb2d5c;
			border-color: white;
		}
	}

	&_href {
		text-decoration: none;
		text-align: center;
		display: block;
	}

	&_big {
		font-size: 2rem;
	}
}
