@import '../../assets/styles/variables.module.scss';

.Main {
	&Card {
		display: flex;
		
		&::-webkit-scrollbar {
			width: 0.5rem;
		}

		&::-webkit-scrollbar-thumb {
			background-color: #ff7676;
		}

		&::-webkit-scrollbar-track {
			background-color: white;
		}

		// -- Mobile
		@media (max-width: 1023.98px) {
			flex-direction: column;
			align-items: center;
			justify-content: space-between;

			width: 90%;
			
			overflow-y: scroll;

			@media (min-width: 400px) {
				width: 80%;
			}

			@media (min-width: 550px) {
				width: 75%;
			}

			@media (min-width: 580px) {
				width: 70%;
			}

			@media (min-width: 620px) {
				width: 65%;
			}

			@media (min-width: 720px) {
				width: 60%;
			}

			@media (min-width: 800px) {
				width: 50%;
			}

			@media (min-width: 920px) {
				width: 45%;
			}
		}

		// -- Desktop
		@media (min-width: 1024px) {
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
		}
	}

	&Typewriter {
		width: 100%;
		padding: 15px;
		font-size: 1.6rem;
		letter-spacing: 1px;
	
		font-weight: 600;

		@media (min-width: 400px) {
			font-size: 1.8rem;
			line-height: 150%;
		}

		@media (min-width: 700px) {
			font-size: 2rem;
		}

		// -- Desktop
		@media (min-width: 1024px) {
			font-size: 3.2rem;
		}

		@media screen and  (min-width: 1440px){
			font-size: 3.6rem;
		}
	}

	&Lock {
		margin-top: 20px;

		width: 130px;
		height: 130px;

		// -- Desktop
		@media (min-width: 1024px) {
			width: 220px;
			height: 220px;
		}
	}

}




// &_information {
// 	display: flex;

// 	@media screen and (orientation: portrait) {
// 		flex-direction: column;
// 		align-items: center;
// 		justify-content: space-around;

// 		height: 75vh;
// 		width: 100%;

// 		@media (min-width: 360px) and (min-height: 720px) {
// 			width: 80%;
// 			height: 60vh;
// 		}
		
// 		@media (min-width: 480px) and (min-height: 360px) {
// 			width: 80%;
// 			height: 50vh;
// 		}

// 		@media (min-width: 480px) and (min-height: 720px){
// 			width: 70%;
// 			height: 60vh;
// 		}

// 		@media (min-width: 720px) and (min-height: 1080px){
// 			width: 70%;
// 			height: 40vh;
// 		}
// 	}

// 	@media screen and (orientation: landscape) {
// 		flex-direction: row;
// 		align-items: center;
// 		justify-content: space-around;
// 		width: 80%;

// 		@media screen and (min-width: 768px) {
// 			width: 60%;
// 		}
// 	}
// }
