$weakBgc: red;
$mediumBgc: orange;
$strongBgc: green;

.Meter {
	height: 5px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 5px 0;

	&__type {
		width: 100%;
		height: 100%;
		background-color: lightgray;
		border-radius: 5px;
		position: relative;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 5px;
		}

		&_first {
			// &_ {
			// 	&:before {
			// 		background-color: red;
			// 	}
			// }
		}

		&_second {
			margin: 0 5px;
			// &_active {
			// 	&:before {
			// 		background-color: orange;
			// 	}
			// }
		}

		&_third {
			// &_active {
			// 	&:before {
			// 		background-color: green;
			// 	}
			// }
		}
	}
}

.weak {
	background-color: $weakBgc;
}

.medium {
	background-color: $mediumBgc;
}

.strong {
	background-color: $strongBgc;
}
