:root {
	--headerBgcColor: #7313f0;
}

.MainHeader {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 200;

	display: flex;
	justify-content: space-around;
	align-items: center;

	width: 100%;
	padding: 0 5%;
	height: 84px;

	border-bottom: 2px solid #d0b4dc;

	background-color: var(--headerBgcColor);
}

/* szerokosc wieksza niz 768 */
@media (min-width: 768px) {
	.MainHeader {
	}
}

/* #7313f0; */
