.SideDrawer {
	position: fixed;
	right: 0;
	top: 84px;
	z-index: 200;
	height: 100vh;
	width: 50%;
	background: linear-gradient(
		180deg,
		rgba(115, 19, 240, 1) 33%,
		rgba(146, 25, 244, 1) 100%
	);
	border-left: 2px solid #d0b4dc;
}

.Enter {
	transform: translateX(100%);
}

.EnterActive {
	transform: translateX(0%);
	opacity: 1;
	transition: all 0.3s;
}

.Exit {
	transform: translateX(0%);
	opacity: 1;
}

.ExitActive {
	transform: translateX(100%);
	opacity: 0;
	transition: all 0.3s;
}
