@import '../../assets/styles/variables.module.scss';

.Container {
	display: flex;
	flex-direction: column;
	height: 100vh;
	position: relative;
	min-width: 320px;
	min-height: 500px;
}

.main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	position: absolute;
	top: 84px;
	height: calc(100vh - 84px);
	width: 100%;
	background: linear-gradient(
		180deg,
		$main-color-1 0%,
		$main-color-2 50%,
		$main-color-3 100%
	);
}
