$normal-input-bgc: #f8f8f8;
$focus-input-bgc: #ebebeb;
$invalid-input-bgc: #ffd1d1;

@mixin form-control {
	margin: 1.3rem 0;
	position: relative;

	label {
		display: block;
		font-weight: bold;
		margin-bottom: 0.5rem;
	}

	input,
	textarea {
		display: block;

		width: 100%;
		padding: 0.4rem 3rem 0.4rem 0.3rem;
		border: 1px solid #ccc;

		font-size: 1rem;
		background: $normal-input-bgc;

		&:focus {
			outline: none;
			background: $focus-input-bgc;
			border-color: #510077;
		}
	}
}

@mixin form-control--invalid {
	label,
	p {
		font-size: 1rem;
		color: red;
	}

	input,
	textarea {
		border-color: red;
		background: $invalid-input-bgc;
	}
}

@mixin show-password {
	position: absolute;
	right: 3px;
	top: 4px;
	width: 30px;
	text-align: center;
	cursor: pointer;
	font-weight: 600;

	i {
		font-size: 1.4rem;
	}
}
