.FormControl {
	margin: 0.5rem 0;
}

.FormControl label,
.FormControl input,
.FormControl textarea {
	display: block;
}

.FormControl label {
	font-weight: bold;
	margin-bottom: 0.5rem;
}

.FormControl input,
.FormControl textarea {
	width: 100%;
	font: inherit;
	border: 1px solid #ccc;
	background: #f8f8f8;
	padding: 0.15rem 0.25rem;
}

.FormControl input:focus,
.FormControl textarea:focus {
	outline: none;
	background: #ebebeb;
	border-color: #510077;
}

.FormControl_invalid label,
.FormControl_invalid p {
	color: red;
}

.FormControl_invalid input,
.FormControl_invalid textarea {
	border-color: red;
	background: #ffd1d1;
}
