$normal-input-bgc: #f8f8f8;
$focus-input-bgc: #ebebeb;
$invalid-input-bgc: #ffd1d1;

.FormControl {
	margin: 1rem 0;
	position: relative;
}

.FormControl label,
.FormControl input,
.FormControl textarea {
	display: block;
}

.FormControl label {
	font-weight: bold;
	margin-bottom: 0.5rem;
}

.FormControl input,
.FormControl textarea {
	width: 100%;
	font: inherit;
	border: 1px solid #ccc;
	background: $normal-input-bgc;
	padding: 0.3rem 0.25rem;
}

.FormControl input:focus,
.FormControl textarea:focus {
	outline: none;
	background: $focus-input-bgc;
	border-color: #510077;
}

.FormControl_invalid label,
.FormControl_invalid p {
	font-size: 1rem;
	color: red;
}

.FormControl_invalid input,
.FormControl_invalid textarea {
	border-color: red;
	background: $invalid-input-bgc;
}

.ShowPassword {
	position: absolute;
	right: 3px;
	top: 4px;
	width: 30px;
	text-align: center;
	cursor: pointer;
	font-weight: 600;
	background: $normal-input-bgc;

	&_focused {
		background: $focus-input-bgc;
	}

	&_invalid {
		background: $invalid-input-bgc;
	}

	i {
		font-size: 1.4rem;
	}
}
