@import '../../../../assets/styles/variables.module.scss';

$transition-time: 400ms;

.Lock {
	width: 150px;
	height: 150px;
	cursor: pointer;

	@media (min-width: 375px) {
		width: 200px;
		height: 200px;
	}

	&_logo {
		margin-top: 20px;
	}

	&__Top {
		fill: none;
		stroke: $error-color;
		stroke-width: 5;
		stroke-linecap: round;
		stroke-miterlimit: 10;
		stroke-dasharray: 300;
		stroke-dashoffset: -30;
		transition: all $transition-time ease-out;

		&_loaded {
			stroke-dashoffset: 0;
			stroke: $success-color;

			& ~ .Lock__Body {
				fill: $success-color;
			}
		}
	}

	&__Outline {
		fill: transparent;
	}

	&__Body {
		fill: $error-color;
		opacity: 1;
		transition: all $transition-time ease-out;
	}
}
