.Lock {
	width: 150px;
	height: 150px;
	cursor: pointer;

	&_logo {
		margin-top: 20px;
	}

	&__Top {
		fill: none;
		stroke: rgba(115, 19, 240, 1);
		stroke-width: 5;
		stroke-linecap: round;
		stroke-miterlimit: 10;
		stroke-dasharray: 300;
		stroke-dashoffset: -30;
		transition: all 400ms ease-out;

		&_loaded {
			stroke-dashoffset: 0;
			stroke: rgba(208, 180, 220, 1);

			& ~ .Lock__Body {
				fill: rgba(115, 19, 240, 1);
			}
		}
	}

	&__Outline {
		fill: transparent;
	}

	&__Body {
		fill: rgba(208, 180, 220, 1);
		opacity: 1;
		transition: all 400ms ease-out;
	}
}
