:root {
    --activeLinkColor: rgb(246, 246, 246);
    --inactiveLinkColor: rgba(246, 246, 246, 0.65);
    --slidingLineColor: #f01390;
}

.NavigationItem {
    width: 60%;
    text-align: center;
}

.NavigationItem a {
    display: inline-block;

    color: var(--inactiveLinkColor);
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 1.6em;
    transition: color .3s;
}

.NavigationItem a:hover,
.NavigationItem a:active, 
.NavigationItem a.active {
    color: var(--activeLinkColor);
    content: "";
}

.NavigationItem a::after {
    display: block;
    width: 0;
    height: 2px;

    content: '';
    background-color: var(--slidingLineColor);
    transition: width .3s;
}

.NavigationItem a.active::after,
.NavigationItem a.active:hover::after{
    width: 100%;

    content: '';
    background-color: var(--slidingLineColor);
}

.NavigationItem a:hover::after {
    width: 100%;
    transition: width .3s;
}


/* .NavigationItem a:hover:not(.active) {
    color: black
} */

@media screen and (min-width: 768px) {
    .NavigationItem a {
        margin: 0 5px;
    }

    .NavigationItem a:hover::after,
    .NavigationItem a::after{
        content: none;
    }
}
