$white-border-color: #d0b4dc;
$header-bgc-color: #7313f0;
$error-color: #ff0033;
$success-color: #4bb543;
$question-color: #fd7e14;

$main-color-1: rgba(115, 19, 240, 1);
$main-color-2: rgba(148, 92, 180, 1);
$main-color-3: rgba(208, 180, 220, 1);
