$normal-input-bgc: #f8f8f8;
$focus-input-bgc: #ebebeb;
$invalid-input-bgc: #ffd1d1;

.FormControl {
	margin: 1rem 0;
	position: relative;

	& label {
		display: block;
		font-weight: bold;
		margin-bottom: 0.5rem;
	}

	& input {
		display: block;
		width: 100%;
		font: inherit;
		border: 1px solid #ccc;
		background: $normal-input-bgc;
		padding: 0.3rem 3rem 0.3rem 0.3rem;

		&:focus {
			outline: none;
			background: $focus-input-bgc;
			border-color: #510077;
		}
	}

	&_invalid {
		& label {
			font-size: 1rem;
			color: red;
		}

		& p {
			font-size: 1rem;
			color: red;
		}

		& input {
			border-color: red;
			background: $invalid-input-bgc;
		}
	}

	&__ShowPassword {
		position: absolute;
		right: 3px;
		top: 4px;
		width: 30px;
		text-align: center;
		cursor: pointer;
		font-weight: 600;

		i {
			font-size: 1.4rem;
		}
	}
}
