@import '../InputMixins.module.scss';

.FormControl {
	@include form-control;

	&_invalid {
		@include form-control--invalid;
	}

	&__ShowPassword {
		position: absolute;
		right: 3px;
		top: 4px;
		width: 30px;
		text-align: center;
		cursor: pointer;
		font-weight: 600;

		i {
			font-size: 1.4rem;
		}
	}
}
